body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1efff;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(180deg, rgb(187, 241, 243)8.33%, rgb(126, 150, 255) 100%);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #8ba7c4;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6c869e;
}

.excluir {
    background-color: #ff4d4d; /* Cor vermelha para o botão de excluir */
}

.excluir:hover {
    background-color: #b30000; /* Cor vermelha mais escura ao passar o mouse */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 20px; /* Aumento do espaçamento entre os contatos */
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none;
}