:root {
    /* representa o elemento raiz do projeto, no caso, a tag html */
    
    /* calcula a base para 10px do tamanho de fonte já que ele capta op font-size do navegador e a base é 16px */
    font-size: 62.5%;

    /* o comportamento do scroll fica suave */
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    font-family: "Montserrat", sans-serif;
    /* para que o body tenha sempre no minimo
    100% do tamanhoi de altura da janela */
}

main {
    flex: 1;
    /* Para que o main aumente e capte todo o 
    tamanho disponivel para ele no container flex
    empurrando os outros elementos */
}

.wrapper {
    max-width: 120rem;
    margin: 0 auto;
}

.header-principal {
    background-color: white;
}
.material-symbols-outlined-home{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.header-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
}

@media(min-width: 870px) {
    .header-wrapper {
        flex-direction: row;
    }
}

/* seletor de filhos diretos, só pega
tags que sejam filhas diretas do elemento */
.header-principal .nav-brand {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.header-principal .nav-brand > img {
    width: 5rem;
}
.header-principal .nav-brand > h1 {
    font-family: 'Urbanist', sans-serif;
    font-size: 3rem;
}

.header-principal nav ul {
    font-size: 2rem;
    list-style: none;
    display: flex;
}

.header-principal nav li {
    padding: 0.5rem 2rem;
    text-align: center;
}

.header-principal nav li:not(:first-of-type) {
    border-left: 1px solid black;
}

.header-principal nav a {
    color: black;
    text-decoration: none;
    position: relative;
}

.header-principal nav a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    height: 2px;
    width: 0;
    background-color: black;
    transition: 0.4s;
}

.header-principal nav a:hover::after {
    width: 100%;
}

/* ----------------- HEADER ---------------------- */
/* main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */


#pedido{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form_pedido {
    max-width: 55rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10rem;
    padding: 2rem;
    font-size: 1.6rem;
    background-color: white;
}

#form_pedido > div {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

#form_pedido > div .infos_cliente, 
#form_pedido > div .infos_pedido {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#form_pedido > div .infos_cliente label {
    display: block;
    margin-bottom: 0.5rem;
}

#form_pedido > div .infos_cliente input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;

    padding: 0.5rem
}

#form_pedido > div .infos_pedido {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#form_pedido button{
    border: none;
    padding: 1rem;
}

#form_pedido button:hover{
    background-color: green;
    color: white;
}

#Valores {
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
}
#Valores h1{
    padding: 5rem;
    font-family: 'Whisper', cursive;
    font-size: 6.5rem;
    background-color: white;
}

table, th, td {
    border: 1px solid rgb(0, 0, 0);
    background-color:transparent;
    border-collapse: collapse;
    padding: 0.5rem;
    color: rgb(0, 0, 0);
}

/* ----------------------------- */

footer{
    background-color:red;
    padding: 50px 0;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}
.footer-col .medias-socias{
    margin-top: 30px;
}
.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
}
.footer-col .medias-socias a i{
    font-size: 20px;
}

.footer-col .medias-socias a:hover{
    color: rgb(214, 70, 70);
    background-color: white;
}
.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color:rgb(214, 70, 70);
}
.footer-col .form-sub input::placeholder{
    color: white;
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: rgb(214, 70, 70);
    border-radius: 3px;
    font-weight: bold;
    background-color: white;        
}

@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}