body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2c3663;
    /* background-image: url('images/estante.jpg'); */
    /* background-size: cover; */
    /* background-position: center; */
}

header {
    background-color: #d6e4f3;
    padding: 20px 0;
    text-align: center;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}


header h1 {
    color: #2c3663;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#livros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.livro {
    padding: 20px;
    margin: 10px;
    background-color: transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.486);
    transition: transform 0.3s ease;
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
}

.livro:hover {
    transform: translateY(-5px);
}

.livro h2 {
    color: #ffffff;
    text-align: center;
}

.livro p {
    margin: 10px 0;
    color: #ffffff;
}

form {
    margin-top: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

input[type="text"],
input[type="number"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #10162e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2c3663;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.486);
    transition: 0.7s ease;
}

.background {
    padding: 2rem;
    margin: 5rem auto;
}
